<% layout('layout/boilerplate') -%>
<section id="featured-products" class="container my-5">
    <h2 class="text-center mb-4">Featured Products</h2>
    <div class="row">
        <% products.forEach(function(product) { %>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title"><%= product.productName %></h3>
                        <p class="card-text"><%= product.productDescription %></p>
                        <p class="card-text"><strong>$<%= product.productPrice %></strong></p>
                        <a href="/p/products/single/<%= product._id %>" class="btn btn-primary">View Details</a>
                        <a href="/p/favourites/new/<%= product._id %>" class="btn">
                            <% if(currUser && currUser.favourites.find(item => item.toString()===product._id.toString())){%>
                                <i class="fa-solid fa-heart"></i>
                            <% } else { %>
                                <i class="fa-regular fa-heart"></i>
                            <% } %>
                        </a>
                        <form action="/p/cart/add/<%= product._id %>" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-warning">Add To Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }); %>
        <% if (currUser && currUser.userType === 'seller') { %>
            <div class="col-12 text-center mt-4">
                <a href="/p/products/new" class="btn btn-success">Add Product</a>
            </div>
        <% } %>
    </div>
</section>
